.block3 {
	& .sectionHeader {
		border-bottom: 1px solid #333;
		width: fit-content;
		margin-bottom: 3rem;
	 }
	 & amp-accordion>section {
		& header {
		background-color: #fff;
		border: 0;
		color: #711EAF;
		font-size: .9rem;

	}

	& header:after {
		display: inline-block;
		content: "+";
		padding: 0 0 0 2rem;
		color: #711EAF;
	}
	& li {
		color: #711EAF;
		font-size: .9rem;
		list-style: none;
		}
	}
}
